{% extends 'admin_T/main.html' %}


        {% block content %}
        {% load static %}
    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">Add Product</h2>
                {% for message in messages %}
                  
                <div><h1 style="text-transform: uppercase;" class="text-danger">{{message}}</h1></div>
                 
                {% endfor %}  
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <form 
                onsubmit="return a()" id="na" action="add_product" method="POST" enctype="multipart/form-data" class="tm-edit-product-form">
                  {% csrf_token %}
                  <div class="form-group mb-3">
                    <label
                      for="name"
                      >Product Name
                    </label>
                    <input
                      id="name"
                      name="name"
                      type="text"
                      class="form-control validate"
                      
                    />
                  </div>
                  <div class="form-group mb-3">
                    <label
                      for="description"
                      >Description</label
                    >
                    <textarea
                      class="form-control validate"
                      rows="3"
                      
                      name="details"
                    ></textarea>
                  </div>
                  <div class="form-group mb-3">
                    <label
                      for="category"
                      >Category</label
                    >
                    <select
                      class="custom-select tm-select-accounts"
                      id="category" name="categ"
                    >
                    {% for cates in cate %}
                      
                      <option value="{{cates.id}}">{{cates.namer}}</option>
                     {% endfor %}
                    </select>
                  </div>
                  <div class="row">
                      <div class="form-group mb-3 col-xs-12 col-sm-6">
                          <label
                            for="expire_date"
                            >PRICE
                          </label>
                          <input
                            id="z"
                            name="price"
                            type="text"
                            class="form-control validate"
                            data-large-mode="true"
                          />
                        </div>
                        <div class="form-group mb-3 col-xs-12 col-sm-6">
                          <label
                            for="stock"
                            >Units In Stock
                          </label>
                          <input
                            id="stock"
                            name="stock"
                            type="text" 
                            class="form-control validate"
                            
                          />
                          <div id='output'></div>
                        </div>
                  </div>
                  
              </div>
            
                <div class="custom-file mt-3 mb-3">
                  <input id="file" name="image" type="file"  />
               
                </div>
              </div>
              <div class="col-12">
                <button type="submit" 
                pys-onClick='sub' id="so" class="btn btn-primary btn-block text-uppercase">Add Product Now</button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="tm-footer row tm-mt-small">
        <div class="col-12 font-weight-light">
          <p class="text-center text-white mb-0 px-4 small">
            Copyright &copy; <b>2018</b> All rights reserved. 
            
            Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
        </p>
        </div>
    </footer> 
    <py-script>
      
      
      def sub(*args, **kwargs):
        
        result_p = Element('output')
        result_z = Element('z')
        

        
        result_p.write(f"hello")
        return False
        
    
      def a():
        print('hello')
        result_z = Element('z')
        result_z.write(f"hello")
        return false
    </py-script>
  {% endblock %}